<!DOCTYPE html>  
<html>
<head>
    <meta charset="utf-8" />
    <title>AngularJS Begin</title>
    <link rel="stylesheet" href="/Styles/w3.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <script src="../Scripts/App.js"></script>
    <script src="../Scripts/usersService.js"></script>
    <script src="../Scripts/usersCtrl.js"></script>
    <script src="../Scripts/rolesCtrl.js"></script>
</head>

<body ng-app="usersApp">
    <div class="ng-view"></div>
</body>
</html>   